---
title: Anna Doubkova Interview
date: 2017-09-06 09:00 UTC
tags: speaker
---

With the conference just around the corner, we have Anna from Pizzahut talking
to us about her journey into functional programming.

## Tell us a bit about yourself?

I'm a programmer who studies psychotherapy. I love logic, spotting patterns,
analysis, solving problems; as well as drawing, writing poetry, playing a harp.
I enjoy discovering new things in tech, travelling, and having long discussions
over a good drink with fellow coders.

## How did you get into programming?

When I was 13, I had a blog on livejournal and spent a lot of time enhancing
its layouts. I learnt css and html to keep up with the amazing, flashy designs
of my friends' blogs. Later on, I added javascript to my website to make things
move and pop-up. A few years later, I found myself studying Cybernetics and
Robotics because I fell in love with Isaac Asimov's books.

## How did you get into functional programming?

I had the luck of working with some very bright, talented devs at Red Badger
who introduced me to FP.

## Why that tech?

It's logical, easy to test and reason about, scales well. Also, it's kind of
beautiful.

## Why that talk?

FP has so much value in programming, and it seems a shame front-end developers
seem hesitant to adopt it. I know it's hard to pick up the principles - I
struggled, too - but it's so worth it. I like speaking on this topic to bring
FP to as many front-enders as possible. Convert the masses ;)

–

Thank you Anna for taking the time to talk to us! The conference is just around
the corner and if you want to visit her lecture on Functional Programming in
React be sure to get your ticket now.

<a href="http://partialconf.com/tickets" class="btn-primary">Get your ticket</a>
