---
title: "partial :: Conf &rarr; Blog"
---

<%= partial 'header' %>

<div class="spacing-both">
  <div class="container blog">
    <article>
      <h1>
        <a class="fancy" href="/blog/become-a-supporter">Become a supporter</a>
      </h1>

      <div class="meta">
        <time>Jun 3 2017</time>
      </div>

      <p>
        Hey hello, we are Genadi, Svetlio, Svetlio and Vestimir. We are the team behind Partial, a new conference from Sofia, Bulgaria focused on the impact of functional technologies on the web.
        <br/>
        Last year the four of us had the privilege of organizing...
      </p>

      <a class="fancy" href="/blog/become-a-supporter">Read more</a>
    </article>

    <article>
      <h1>
        <a class="fancy" href="/blog/functional-technologies-on-the-web-pt1">
          Functional Technologies on the Web, pt. 1
        </a>
      </h1>

      <div class="meta">
        <time>May 30 2017</time>
      </div>

      <p>
        In recent years the functional approach have been front and central with the rise of real-time UIs, cloud computing and distributed systems. Functional technologies provide...
      </p>

      <a class="fancy" href="/blog/functional-technologies-on-the-web-pt1">Read more</a>
    </article>

    <article>
      <h1><a class="fancy" href="/blog/apply-for-speaking">Call for speakers</a></h1>

      <div class="meta">
        <time>May 1 2017</time>
      </div>

      <p>
        Should I apply for Partial‘s Call for Speakers? I mean, they look cool and I’ve heard that Southeastern  Europe is nice and all...
      </p>

      <a class="fancy" href="/blog/apply-for-speaking">Read more</a>
    </article>

    <article>
      <h1><a class="fancy" href="/blog/announcement">Hello everyone!</a></h1>

      <div class="meta">
        <time>April 26 2017</time>
      </div>

      <p>
        Hi there. We are Genadi, Vestimir, Svetlio & Svetlio. It’s nice to meet you! 🤝
        <br/>
        You might have seen....
      </p>

      <a class="fancy" href="/blog/announcement">Read more</a>
    </article>
  </div>
</div>

<%= partial 'footer' %>
