<div class="footer-sm">
  <div class="container">
    <div class="copy">
      &copy;2017 partial :: Conf
    </div>

    <nav>
      <%= link_to 'Legal', '/legal' %>
      <%= link_to 'Code of Conduct', 'http://berlincodeofconduct.org' %>
      <%= link_to 'Contact', 'mailto:hi@partialconf.com' %>
    </nav>
  </div>
</div>