<div class="footer-sm">
  <div class="container">
    <p>
      partial :: <%= link_to 'Conf', '/' %>
      &rarr; <%= link_to 'Legal', '/legal' %>
      &rarr; <%= link_to 'Conduct', 'http://berlincodeofconduct.org' %>
      &rarr; <%= link_to 'Contact', 'partialconf@gmail.com' %>
    </p>
  </div>
</div>
