<% home = defined?(home) ? home : false %>

<div class="header-sm fixed">
  <div class="container">
    <div class="branding <%= 'hidden' if home %>">
      <a href="/" class="logo logo-sm">partial :: Conf 2017</a>
    </div>

    <nav>
      <a href="/blog">Blog</a>
      <a href="/lineup">Lineup</a>
      <a href="/venue">Venue</a>
      <a href="/partners">Partners</a>
      <a href="/tickets" class="btn-primary btn-invert btn-sm">Tickets</a>
    </nav>
  </div>
</div>
