<div class="header-sm fixed">
  <div class="container">
    <div class="branding">
      <a href="/" class="logo logo-sm">partial :: Conf 2017</a>
    </div>

    <nav>
      <a href="#">About</a>
      <a href="#">Contacts</a>
      <a href="/#cfp" class="btn-primary btn-invert btn-sm">Call for Speakers</a>
    </nav>
  </div>
</div>

<div class="spacer">&nbsp;</div>
