<div class="header">
  <div class="overlay"></div>
  <div class="container">
    <a href="/">
      <h1 class="logo logo-sm">partial :: Conf 2017</h1>
      <h2>22–23 September, Sofia</h2></h2>
    </a>
  </div>
</div>
