<div class="header-sm fixed">
  <div class="container">
    <div class="branding">
      <a href="/" class="logo logo-sm">partial :: Conf 2017</a>
    </div>

    <nav>
      <a href="/">About</a>
      <a href="/#apply">Become a speaker</a>
      <a href="/tickets" class="btn-primary btn-invert btn-sm">Tickets</a>
    </nav>
  </div>
</div>

<div class="spacer">&nbsp;</div>
