---
title: "partial :: Conf &rarr; Legal"
---

<%= partial 'header' %>

<section>
  <div class="container">
    <h3>Team</h3>

    <ul>
      <li>Svetlozar Todorov <br> <a href="mailto:svetlik@gmail.com">svetlik@gmail.com</a></li>
      <li>Genadi Samokovarov <br> <a href="mailto:gsamokovarov@gmail.com">gsamokovarov@gmail.com</a></li>
      <li>Svetlozar Mihailov <br> <a href="mailto:svetliomihailov@gmail.com">svetliomihailov@gmail.com</a></li>
      <li>Vestimir Markov <br> <a href="mailto:vestimir@gmail.com">vestimir@gmail.com</a></li>
    </ul>
    <br><br>

    <h3>Legal Information</h3>
    <p>partial :: Conf is represented by the following entity:</p>

    <p>
      <strong>EURUKO 2016</strong><br>
      <br>
      <strong>VAT:</strong> BG203844519<br>
      <strong>Street address:</strong> Banat 3, floor 1, apartment 3<br>
      <strong>City:</strong> Sofia<br>
      <strong>Postal code:</strong> 1407<br>
      <strong>Country:</strong> Bulgaria<br>
      <strong>Representative:</strong> Svetlozar Todorov
    </p>
  </div>
</section>

<%= partial 'footer' %>
