---
title: Partner -> Packages
---

<%= partial 'header' %>

<div class="section-title spacing-both">
  <div class="container">
    <h1>Partner Packages</h1>
  </div>
</div>

<div class="container spacing-bottom">
  <table class="sponsor-packages">
    <thead>
      <tr>
        <th><span class="text-accent">Benefits</span></th>
        <th class="centered"><span class="text-accent">Platinum</span><br/>&euro; 2000 </th>
        <th class="centered"><span class="text-accent">Gold</span><br/>&euro; 1000 </th>
        <th class="centered"><span class="text-accent">Silver</span><br/>&euro; 500 </th>
        <th class="centered"><span class="text-accent">Bronze</span><br/>&euro; 300 </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>Logo and description (100 words) on dedicated sponsor webpage</th>
        <td><span class="included">✓</span></td>
        <td><span class="included">✓</span></td>
        <td><span class="included">✓</span></td>
        <td><span class="included">✓</span></td>
      </tr>
      <tr>
        <th>Social media announcement of sponsorship (Twitter & Facebook)</th>
        <td><span class="included">✓</span></td>
        <td><span class="included">✓</span></td>
        <td><span class="included">✓</span></td>
        <td><span class="included">✓</span></td>
      </tr>
      <tr>
        <th>Swag on a shared table</th>
        <td><span class="included">✓</span></td>
        <td><span class="included">✓</span></td>
        <td><span class="included">✓</span></td>
        <td><span class="included">✓</span></td>
      </tr>
      <tr>
        <th>Swag items in goodie bags</th>
        <td><span class="included details">3 items</span></td>
        <td><span class="included details">2 items</span></td>
        <td><span class="included details">1 item</span></td>
        <td><span class="included details">1 item</span></td>
      </tr>
      <tr>
        <th>Logo or text link in the footer of the newsletter emails</th>
        <td><span class="included details">Monochrome logo</span></td>
        <td><span class="included details">Text link</span></td>
        <td><span class="included details">Text link</span></td>
        <td><span class="not-included">&times;</span></td>
      </tr>
      <tr>
        <th>Logo on Badge</th>
        <td><span class="included">✓</span></td>
        <td><span class="included">✓</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
      </tr>
      <tr>
        <th>Logo on the screen during conference breaks</th>
        <td><span class="included details">Dedicated slide</span></td>
        <td><span class="included details">In a group slide</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
      </tr>
      <tr>
        <th>Conference passes (excluding workshops)</th>
        <td><span class="included details">2</span></td>
        <td><span class="included details">1</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
      </tr>
      <tr>
        <th>Banner in exhibition area</th>
        <td><span class="included details">2 banners</span></td>
        <td><span class="included details">1 banners</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
      </tr>
      <tr>
        <th>Exhibition space (Table provided from us)</th>
        <td><span class="included">✓</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
      </tr>
      <tr>
        <th>Logo shown in post-conference videos</th>
        <td><span class="included">✓</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
      </tr>
      <tr>
        <th>Banner near stage</th>
        <td><span class="included">✓</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
      </tr>
      <tr>
        <th>Monochrome logo in the conference website footer</th>
        <td><span class="included">✓</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
        <td><span class="not-included">&times;</span></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="section-title">
  <div class="container">
    <h2>Additional sponsorship options</h2>
  </div>
</div>

<div class="container">
  <table class="additional-sponsor-packages">
    <thead>
      <th>
        <span class="text-accent">Goodie bags sponsor</span>
        <span class="text-accent pull-right">&euro; 600</span>
      </th>
    </thead>
    <tbody>
      <tr><td>Exclusive logo on goodie bags</td></tr>
      <tr><td>Logo and description (100 words) on dedicated sponsor webpage</td></tr>
      <tr><td>Social media announcement of sponsorship (Twitter & Facebook)</td></tr>
      <tr><td>Swag on a shared table</td></tr>
    </tbody>
  </table>
</div>

<div class="container">
  <table class="additional-sponsor-packages">
    <thead>
      <th>
        <span class="text-accent">After-party sponsor</span>
        <span class="text-accent pull-right">&euro; 1500</span>
      </th>
    </thead>
    <tbody>
      <tr><td>Logo and description (100 words) on dedicated sponsor webpage - labeled as party sponsor</td></tr>
      <tr><td>Social media announcement of party sponsorship (Twitter & Facebook)</td></tr>
      <tr><td>Opportunity to provide branded napkins, coasters + signage provided by Sponsor</td></tr>
    </tbody>
  </table>
</div>

<div class="container">
  <table class="additional-sponsor-packages">
    <thead>
      <th>
        <span class="text-accent">Coffee break sponsor</span>
        <span class="text-accent pull-right">&euro; 1500</span>
      </th>
    </thead>
    <tbody>
      <tr><td>Logo and description (100 words) on dedicated sponsor web page - labeled as coffee break sponsor</td></tr>
      <tr><td>Social media announcement of coffee break sponsorship (Twitter & Facebook)</td></tr>
      <tr><td>Opportunity to provide branded napkins, coasters or paper cups + sigange privided by sponsor next to coffee stations</td></tr>
      <tr><td>Swag on a shared table</td></tr>
    </tbody>
  </table>
</div>

<div class="container cta spacing-bottom">
  <br/><br/>
  <%=
    link_to(
      'Become a sponsor',
      'mailto:hi@partialconf.com?subject=Partner+Inquiry',
      class: "btn-primary btn-invert btn-big"
    )
  %>
</div>

<div class="spacing-bottom" id="faq">
  <div class="container text tickets">
    <h2>FAQ</h2>

    <h4>Is the VAT included in the package prices?</h4>
    <p>The VAT is not included in the prices listed on this page.</p>

    <h4>Are there any limitations to the number of sponsors?</h4>
    <p>There will be a maximum of 4 Platinum sponsors and 7 Gold sponsors. There are no limitations for Silver and Bronze. The additional sponsorship options are limited to 1 sponsor per package.</p>

    <h4>I have this crazy idea for helping out, but it's not listed on this page. What now?</h4>
    <p>Just <%= link_to 'get in touch', 'mailto:hi@partialconf.com?subject=Crazy+Idea' %>, we can't wait to hear it. </p>
  </div>
</div>

<%= partial 'footer' %>
